/* File: src/pages/CustomerPage.css */
.customer-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .forms-container {
    display: flex;
    justify-content: space-between;    
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    gap: 20px;
  }
  