.form-container {
    background-color: #e8f0fe;
    padding: 40px;
    border-radius: 20px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  
  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-icon {
    width: 30px;
    margin-right: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .reg-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .reg-button:hover {
    background-color: #6a0dad; /* Darker purple */
  }

  .radio-group{
    display: flex;
    flex-direction: row;
  }
  