/* General container for the entire page */
.farmer-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.search-bar-container {
  margin-bottom: 10px; /* Reduce spacing */
}


/* Forms container */
.forms-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 96%; 
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 10px; 
}

.table-container {
  /* width: 96%; */
  margin-top: 10px;
}