.form-container {
    background-color: #e8f0fe;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px   
  }
  
  .form-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
    
  }
  
  h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    flex-grow: 1;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .reg-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .reg-button:hover {
    background-color: #6a0dad; /* Darker purple */
  }
  