.footer {
  background-color: #0a0909;
  color: #fff5f5;
  text-align: center;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
  height: 40px; /* Fixed height */
  border-top: 3px solid #555;
  font-size: 14px;
  font-weight: 650;
  margin-top: 30px;
}
