/* Ensure that the footer sticks to the bottom of the page */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  .App > * {
    flex-shrink: 0;
  }
  
  main {
    flex-grow: 1; 
  }
  